# editor
.vscode

# ML stuff
models

#output images

output_images
out_image_frames

# new train data 

train_data_characters

# temporary labeled images saved during service run
out

# output characters
characters

# course files
theory
experiments

# uploaded images
uploads

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# PyBuilder
target/

# pyenv
.python-version
.swp

# SageMath parsed files
*.sage.py

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
